<!--
  Generated template for the MenucategoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header color="myred">

  <ion-navbar color="myred">
    <ion-buttons color="dark">
    <button ion-button  (click)="goBack()" >
      <ion-icon name="arrow-back"> Back</ion-icon>
    </button></ion-buttons>
    <ion-title>Menu Category</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>


    <button (click)="getRestaurantID()" ion-button >Sign In</button>

        <button (click)="getdata()" ion-button >get dtan</button>




  <ion-item>

    <ion-label>Add a Category</ion-label>


    <ion-icon item-right name="add-circle" (click)="addCategory()"></ion-icon>
  </ion-item>

  <ion-card>
    <ion-card-header>
      Restaurants
    </ion-card-header>

    <ion-list>
      <ion-item *ngFor="let cat of cats | async" >
        {{cat.name}}
          <ion-icon item-right name="remove-circle" (click)="removeCat(cat.$key)"></ion-icon>
      </ion-item>
    </ion-list>
  </ion-card>


  <ion-card>
    <ion-card-header>
      Users
    </ion-card-header>
    <ion-list>
      <ion-item *ngFor="let userRestaurant of userRestaurants | async" >
        {{userRestaurant.restaurantid}}
          <ion-icon item-right name="remove-circle" (click)="removeCat(cat.$key)"></ion-icon>
      </ion-item>
    </ion-list>
  </ion-card>


</ion-content>
