page-profile {
  ion-content,
  .input-wrapper,
  .item-inner,
  .item,
  ion-footer,
  ion-item,
  ion-label {
    transition: all 1.1s ease;
    background-color: #303030 !important;
    background: #303030 !important;
    color: black !important;
  }
}
