<!--
  Generated template for the MenucategoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header color="myred">

  <ion-navbar>
    <ion-title>Menu Category</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>


    <div>
      <ion-item>
        <ion-input type="text" placeholder="Add Menu Category" [(ngModel)]="menuCat"> </ion-input>




        <ion-icon item-right name="add-circle" (click)="addMenuCategory()"></ion-icon>
      </ion-item>

    </div>



  <ion-card>
    <ion-card-header>
      Restaurants
    </ion-card-header>

    <ion-list>
      <ion-item *ngFor="let data of datas ">
        {{data.name}}

        <ion-icon item-right name="remove-circle" (click)="showAlert(data)"></ion-icon>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Restaurants
    </ion-card-header>

    <ion-list>
      <ion-item *ngFor="let mycat of mycats ">
        {{mycat.menucategory.categoryname}}

        <ion-icon item-right name="remove-circle" (click)="showAlert(data)"></ion-icon>
      </ion-item>
    </ion-list>
  </ion-card>





</ion-content>
